.backImage {
  background-image: url("../img/background-phone.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.allHeight {
  height: 100%;
}

.whiteTxt {
  color: white;
}

.minHeight28em{
  min-height: 2.8em;
}

.fontSize2em{
  font-size: 2em;
}

.fontWeight300{
  font-weight: 300;
}

.lineHeight11em{
  line-height: 1.1em
}

.fontWeight100{
  font-weight: 100;
}

.marginsForm{
    margin-left: 8.333333%;
    margin-right: 8.33333%;
}

.fullHeight{
  min-height: -webkit-fill-available;
}

.colorBtnForm{
  background-color: #67C1A7;
}

.hashtagColor {
  color: orange
}
