<div class="container-fluid">
  <div class="row">
    <div class="offset-md-1 col-md-12 minHeight28em">
      <img src="img/logo-opera.png" alt="logo-opera">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 backImage allHeight whiteTxt fullHeight">
      <div class="marginsForm">
        <div class="text-center">
          <p class="fontSize2em fontWeight300 lineHeight11em">
            Cursos de <br> Verano Pro
          </p>
          <p class="fontWeight100">No dejes pasar esta increíble oportunidad, Inscríbete acá</p>
        </div>
        <div>
          <form>
            <div class="form-row">
              <div class="col-md-6">
                <label for="">Nombre<span class="hashtagColor">*</span></label>
                <input type="text" ng-model="form_data.name" ng-init="form_data.name=''" class="form-control" placeholder="Ej: José Canseco">
              </div>
              <div class="col-md-6">
                <label for="">Teléfono<span class="hashtagColor">*</span></label>
                <input type="text" ng-model="form_data.phone" ng-init="form_data.phone=''" class="form-control" placeholder="Ej. +569 3772 9376">
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6">
                <label for="">Correo<span class="hashtagColor">*</span></label>
                <input type="email" ng-model="form_data.email" ng-init="form_data.email=''" class="form-control" placeholder="Ej. correo@gmail.com">
              </div>
              <div class="col-md-6">
                <label for="">RUT<span class="hashtagColor">*</span></label>
                <input type="text" ng-rut rut-format="live" ng-model="form_data.rut" id="rut" ng-init="form_data.rut=''" class="form-control" placeholder="Ej. 26.492.283-1">
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col">
                  <button ng-click="save_data(form_data)" type="button" class="btn colorBtnForm whiteTxt btn-block">Inscribirse</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
