  <!-- required scripts -->
  <script src="bower_components/jquery/dist/jquery.slim.js"></script>
  <script src="bower_components/popper.js/dist/umd/popper.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- angular settings -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
  <script src="bower_components/angular-rut/dist/angular-rut.min.js"></script>

  <!-- angular config -->
  <script src="app.js"></script>

  <!-- angular controllers -->
  <script src="app/controllers/homecontroller.js"></script>

  <!-- angular services -->
  <script src="app/services/contactservices.js"></script>
  <script src="app/services/settings.js"></script>

</body>
</html>
